*.csv
*.npy
*.npz
data/**
!**/dataset_two_state_simulated.npz
models/**
data_simulated/**
data_IBL/**
logs/**
*.pkl
*.pickle
**/__pycache__
__pycache__/**
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
.DS_Store
